

.search-c-can {
	display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.25rem;
  background-color: var(--background-color);
}

.search-c-can form {
	display: flex;
	justify-content: center;
  align-items: center;
}

.google-icon {
  padding: 4px 28px 0 30px;
}

.google-icon img {
  margin-right: 10px;
	width: 5.8125rem;
	height: 1.875rem;
}

.search-icons {
  display: flex;
  align-items: center;
  min-height: 37px;
  background: var(--light-background);
  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(23,23,23,0.24);
  border-radius: 24px;
  margin: 0 auto;
  width: 690px;
  color: white;
  gap: 1.25rem;
}

.search-c-can textarea {
  border: none;
  outline: none;
	resize: none;
  width: 30.5625rem;
  height: 20px;
  padding: 11px 0 3px 20px;
  border-radius: 24px 0 0 24px;
  background-color: var(--light-background);
}

.x {
  border-right: 1px solid white;
  padding: 5px 15px 5px 0;
}

.search-btn button {
  appearance: none;
  background-color: var(--light-background);
  border-style: none;
}

.search-btn button i {
  color: var(--white);
}

.search-right {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 1.25rem;
}

nav.flex {
  justify-content: space-between;
  margin-left: var(--space-left);
}

.col {
	flex-direction: column;
  gap: .75rem;
  padding-bottom: .75rem;
}

.top {
  justify-content: space-between;
  width: 670px;
  padding-top: .75rem;
}

.gray-a {
  color: var(--light-color);
  height: 1.25rem;
  padding: 0 .625rem .5rem;
  font-size: 14px;
  display: block;
} 

.gray-a:focus {
  color: #8ab4f8;
  border-bottom: 3px solid #8ab4f8;
}

.top ul {
  border-bottom: 1px solid rgba(49, 51, 53, 0.1);
}

.bubble {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 24px;
  height: 40px;
  line-height: 2.3;
}

.bubble:hover {
  background-color: var(--hover-bubble);
}

.bubble-word {
  margin: 0 1rem;
  color: var(--white);
}

.safe-search {
  background-color: var(--background-color);
  border: 1px transparent;
  color: var(--light-color);
  outline: none;
  appearance: none;
  width: auto;
}

.safe-search:hover {
  color: #e8e8e8;
  background-color: var(--hover-bubble);
}

.also {
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  color: #e8e8e8;
  font-size: 1.375rem;
  border-bottom: 1px solid rgb(49, 51, 53);
  padding-bottom: 10px;
}

.questions {
  color: #e8e8e8;
  margin: 20px 0;
  border-bottom: 1px solid rgb(49, 51, 53);
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.questions h3 {
  display: inline;
}

.arrow {
  background-color: var(--hover-bubble);
  border: 1px transparent;
  border-radius: 50%;
  padding: 8px;

}








